.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  width: 100%;
  background-color: #e2fff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.header .heading {
  font-weight: 600;
  font-size: 2.5rem;
}

.header .heading span {
  color: #22c48b;
  font-size: 2.7;
  text-transform: capitalize;
}

.header .logout {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.header .logout svg {
  height: 18px;
  width: 18px;
  transition: 200ms;
}

.header .logout {
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-size: 0.9rem;
  transition: 200ms;
}

.header .logout:hover,
.header .logout:hover svg {
  color: #22c48b;
}

.container .section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
}

.section .title {
  font-weight: bold;
  font-size: 1.6rem;
}

.profile {
  display: flex;
  gap: 30px;
  align-items: center;
}

.profile .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.profile .left .progress {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.profile .left .image {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.profile .left .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.profile .left .image .camera {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  z-index: 10;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  cursor: pointer;
}

.profile .left .image .camera svg {
  height: 22px;
  width: 22px;
  color: #22c48b;
}

.profile .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile .right .row {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.profile .right .row > div {
  flex: 1;
}

.footer {
  display: flex;
  gap: 30px;
}

.footer .error {
  flex: 1;
  font-size: 0.875rem;
  font-weight: bold;
  color: #ff3511;
  width: 100%;
  text-align: center;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects .project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.project .title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.project .links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.project .links svg {
  height: 22px;
  width: 22px;
  color: rgb(59, 59, 59);
  transition: 200ms;
  cursor: pointer;
}

.project .links svg:hover {
  color: #22c48b;
}
